:root{
    --color-paper: #FAF1DF;
    --color-ink: #110904;
    --color-primary: #FF592C;
    --color-tertiary: #f3cb00;

    --color-spot-1: #FF592C;
    --color-spot-2: #00D6D7;
    --color-spot-3: #F3CB00;
    --color-spot-4: #B24DC8;
}

.bg-primary { background-color: var(--color-primary); }
.bg-tertiary { background-color: var(--color-tertiary); }
.bg-ink { background-color: var(--color-ink); }
.bg-paper { background-color: var(--color-paper); }
.bg-spot-1 { background-color: var(--color-spot-1); }
.bg-spot-2 { background-color: var(--color-spot-2); }
.bg-spot-3 { background-color: var(--color-spot-3); }
.bg-spot-4 { background-color: var(--color-spot-4); }

.text-primary { color: var(--color-primary); }
.text-tertiary { color: var(--color-tertiary); }
.text-ink { color: var(--color-ink); }
.text-paper {  color: var(--color-paper); }
.text-spot-1 { color: var(--color-spot-1); }
.text-spot-2 { color: var(--color-spot-2); }
.text-spot-3 { color: var(--color-spot-3); }
.text-spot-4 { color: var(--color-spot-4); }