:root{
    --color-background: #ECE4D2;
    --color-paper: #FAF1DF;
    --color-paper-light: #FDF8ED;
    --color-ink: #110904;
    --color-primary: #FF592C;
    --color-tertiary: #f3cb00;
    --color-muted: #50453d;

    --color-spot-1: #FF592C;
    --color-spot-2: #00D6D7;
    --color-spot-3: #F3CB00;
    --color-spot-4: #B24DC8;

    --color-spot-1-light: #FAB5A2;
    --color-spot-2-light: #BFE0E0;
    --color-spot-3-light: #EDDF95;
    --color-spot-4-light: #E992FC;


    --border-ink: 3px solid var(--color-ink);
    --shadow-ink: 3px 3px 0 0 var(--color-ink);
    --shadow-ink-lg: 6px 6px 0 0 var(--color-ink);
}

.bg-primary { background-color: var(--color-primary) !important; }
.bg-tertiary { background-color: var(--color-tertiary) !important; }
.bg-ink { background-color: var(--color-ink) !important; }
.bg-paper { background-color: var(--color-paper) !important; }
.bg-spot-1 { background-color: var(--color-spot-1) !important; }
.bg-spot-2 { background-color: var(--color-spot-2) !important; }
.bg-spot-3 { background-color: var(--color-spot-3) !important; }
.bg-spot-4 { background-color: var(--color-spot-4) !important; }

.text-primary { color: var(--color-primary); }
.text-tertiary { color: var(--color-tertiary); }
.text-ink { color: var(--color-ink); }
.text-paper {  color: var(--color-paper); }
.text-spot-1 { color: var(--color-spot-1); }
.text-spot-2 { color: var(--color-spot-2); }
.text-spot-3 { color: var(--color-spot-3); }
.text-spot-4 { color: var(--color-spot-4); }

h1 {
    font-family: 'Archivo Black';
    font-size: 10rem;
    line-height: 0.85;
    text-transform: uppercase;
    margin: 1.5rem 0 0 0;
}

h2 {
    font-family: 'Archivo Black';
    font-size: 6rem;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0.5rem 0 0 0;
}

h3 {
    font-family: 'Archivo Black';
    font-size: 2rem;
    line-height: 1.25;
    text-transform: uppercase;
    margin: 0.25rem 0 0 0;
}

h4 {
    font-family: 'Archivo Black';
    font-size: 1.5rem;
    line-height: 1.25;
    text-transform: uppercase;
    margin: 0.25rem 0 0 0;
}
h5 {
    font-family: 'Archivo Black';
    font-size: 1rem;
    line-height: 1.25;
    text-transform: uppercase;
    margin: 0.25rem 0 0 0;
}

.font-monospace {
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
